@{
  Layout = "_Layout";
}

<h1>Best restaurants!</h1>


<p>@Html.ActionLink("Add a cuisine!", "Create", "Cuisine")</p>
<p>@Html.ActionLink("Add a resturant!", "Create", "Restaurant")</p>
<p>@Html.ActionLink("View the restaurants!", "Index", "Cuisine")</p>