@{
  Layout = "_Layout";
}
@* @using Restaurants.Models *@

@model Restaurants.Models.Cuisine


<h2>Add a Cuisine:</h2>

@using (Html.BeginForm())
{
<br>
@Html.LabelFor(model => model.Type)
@Html.TextBoxFor(model => model.Type)

<br>
<br>
<input type="submit" value="Add cuisine!">
}